<div id="header">
  <div class="container">
    <div class="row">
      <div class="span6">
        <%= image_tag('header_logo.png') %>
      </div>
      <div class="span6 text_right">
        <div style="margin-top:5px;">

          <%= select_tag(
            :version_select, 
            options_for_select(
              [["Version 1", v1_root_path], ["Version 2", v2_root_path]], 
              controller.class.name.split("::").first == 'V1' ? v1_root_path : v2_root_path
            )
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>