<div class="row-fluid">
  <h2>Clats</h2>
  
  <ul class="nav nav-tabs" id="exampleTabs">
    <li class="active"><a href="#procurement_document">Procurement Document</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="procurement_document">
      <h3>Routes</h3>
      <table class="table">
        <thead>
          <th>Request</th>
          <th>URL</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="#get">GET</a></td>
            <td>procurement_documents/:token/clats</td>
            <td>Returns all CLATs for a Procurement Document.</td>
          </tr>
          <tr>
            <td><a href="#post">POST</a></td>
            <td>procurement_documents/:token/clats</td>
            <td>Creates a new CLAT for a Procurement Document.</td>
          </tr>
          <tr>
            <td><a href="#get-single">GET</a></td>
            <td>procurement_documents/:token/clats/:id</td>
            <td>Returns a single CLAT for a Procurement Document.</td>
          </tr>
          <tr>
            <td><a href="#extend">PUT</a></td>
            <td>procurement_documents/:token/clats/:id/extend</td>
            <td>Extends the duration of the CLAT for a Procurement Document.</td>
          </tr>
          <tr>
            <td><a href="#expire">PUT</a></td>
            <td>procurement_documents/:token/clats/:id/expire</td>
            <td>Expires the CLAT for a Procurement Document.</td>
          </tr>
        </tbody>
      </table>


      <br /><hr><br />
      <a name="get">&nbsp;</a>
      <h3>GET <small>procurement_documents/:token/clats</small></h3>
      <p>Returns all CLATs for a Procurement Document.</p>
      <p><strong>Request Type:</strong> <a href="">Signed</a></p>
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td><strong>token</strong></td>
          <td><span class="label label-important">required</span></td>
          <td>The procurement document token.</td>
        </tr>
        <tr>
          <td><strong>id</strong></td>
          <td><span class="label label-important">required</span></td>
          <td>The unique id of the desired CLAT.</td>
        </tr>
      </table>
      <h4>Example Request</h4>
      <pre class="prettyprint">

      </pre>
      <h4>Example Response</h4>
      <pre class="prettyprint">
&lt;Response&gt;
  &lt;Clats&gt;
    &lt;Clat id=&quot;1&quot;&gt;
      &lt;Token&gt;7fd5e89f7c85d7ab82b79047bc56c3dd&lt;/Token&gt;
      &lt;Secret&gt;27308d432f55864e8050fb0b37d186d6&lt;/Secret&gt;
      &lt;ExpiresAt&gt;07/01/2012 08:00:03&lt;/ExpiresAt&gt;
    &lt;/Clat&gt;
  &lt;/Clats&gt;
&lt;/Response&gt;
</pre>

      
      <br /><hr><br />
      <a name="post">&nbsp;</a>
      <h3>POST <small>procurement_documents/:token/clats</small></h3>
      <p>Creates a new CLAT for a Procurement Document.</p>
      <p><strong>Request Type:</strong> <a href="">Signed</a></p>
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td><strong>token</strong></td>
          <td><span class="label label-important">required</span></td>
          <td>The procurement document token.</td>
        </tr>
      </table>
      <h4>Example Request</h4>
      <pre class="prettyprint">
      </pre>
      <h4>Example Response</h4>
      <pre class="prettyprint">
&lt;Response&gt;
  &lt;Clats&gt;
    &lt;Clat id=&quot;1&quot;&gt;
      &lt;Token&gt;7fd5e89f7c85d7ab82b79047bc56c3dd&lt;/Token&gt;
      &lt;Secret&gt;27308d432f55864e8050fb0b37d186d6&lt;/Secret&gt;
      &lt;ExpiresAt&gt;07/01/2012 08:00:03&lt;/ExpiresAt&gt;
    &lt;/Clat&gt;
  &lt;/Clats&gt;
&lt;/Response&gt;
</pre>


      <br /><hr><br />
      <a name="get-single">&nbsp;</a>
      <h3>GET <small>procurement_documents/:token/clats/:id</small></h3>
      <p>Returns a single CLAT for a Procurement Document.</p>
      <p><strong>Request Type:</strong> <a href="">Signed</a></p>
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td><strong>token</strong></td>
          <td><span class="label label-important">required</span></td>
          <td>The procurement document token.</td>
        </tr>
        <tr>
          <td><strong>id</strong></td>
          <td><span class="label label-important">required</span></td>
          <td>The unique id of the desired CLAT.</td>
        </tr>
      </table>
      <h4>Example Request</h4>
      <pre class="prettyprint">
      </pre>
      <h4>Example Response</h4>
      <pre class="prettyprint">
&lt;Response&gt;
  &lt;Clats&gt;
    &lt;Clat id=&quot;1&quot;&gt;
      &lt;Token&gt;7fd5e89f7c85d7ab82b79047bc56c3dd&lt;/Token&gt;
      &lt;Secret&gt;27308d432f55864e8050fb0b37d186d6&lt;/Secret&gt;
      &lt;ExpiresAt&gt;07/01/2012 08:00:03&lt;/ExpiresAt&gt;
    &lt;/Clat&gt;
  &lt;/Clats&gt;
&lt;/Response&gt;
</pre>


      <br /><hr><br />
      <a name="extend">&nbsp;</a>
      <h3>PUT <small>procurement_documents/:token/clats/:id/extend</small></h3>
      <p>Extends the duration of the CLAT for a Procurement Document.</p>
      <p><strong>Request Type:</strong> <a href="">Signed</a></p>
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td><strong>token</strong></td>
          <td><span class="label label-important">required</span></td>
          <td>The procurement document token.</td>
        </tr>
        <tr>
          <td><strong>id</strong></td>
          <td><span class="label label-important">required</span></td>
          <td>The unique id of the desired CLAT.</td>
        </tr>
      </table>
      <h4>Example Request</h4>
      <pre class="prettyprint">
      </pre>
      <h4>Example Response</h4>
      <pre class="prettyprint">
&lt;Response&gt;
  &lt;Clats&gt;
    &lt;Clat id=&quot;1&quot;&gt;
      &lt;Token&gt;7fd5e89f7c85d7ab82b79047bc56c3dd&lt;/Token&gt;
      &lt;Secret&gt;27308d432f55864e8050fb0b37d186d6&lt;/Secret&gt;
      &lt;ExpiresAt&gt;07/01/2012 08:00:03&lt;/ExpiresAt&gt;
    &lt;/Clat&gt;
  &lt;/Clats&gt;
&lt;/Response&gt;
</pre>


      <br /><hr><br />
      <a name="expire">&nbsp;</a>
      <h3>PUT <small>procurement_documents/:token/clats/:id/expire</small></h3>
      <p>Expires the CLAT for a Procurement Document.</p>
      <p><strong>Request Type:</strong> <a href="">Signed</a></p>
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td><strong>token</strong></td>
          <td><span class="label label-important">required</span></td>
          <td>The procurement document token.</td>
        </tr>
        <tr>
          <td><strong>id</strong></td>
          <td><span class="label label-important">required</span></td>
          <td>The unique id of the desired CLAT.</td>
        </tr>
      </table>
      <h4>Example Request</h4>
      <pre class="prettyprint">
      </pre>
      <h4>Example Response</h4>
      <pre class="prettyprint">
&lt;Response&gt;
  &lt;Clats&gt;
    &lt;Clat id=&quot;1&quot;&gt;
      &lt;Token&gt;7fd5e89f7c85d7ab82b79047bc56c3dd&lt;/Token&gt;
      &lt;Secret&gt;27308d432f55864e8050fb0b37d186d6&lt;/Secret&gt;
      &lt;ExpiresAt&gt;07/01/2012 08:00:03&lt;/ExpiresAt&gt;
    &lt;/Clat&gt;
  &lt;/Clats&gt;
&lt;/Response&gt;
</pre>

    </div>
  </div>

</div>
