<div class="row-fluid">
  <h2>Procurement Documents</h2>
  
  <ul class="nav nav-tabs" id="exampleTabs">
    <li class="active"><a href="#procurement_document">Procurement Document</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="procurement_document">
      <h3>Routes</h3>
      <table class="table">
        <thead>
          <th>Request</th>
          <th>URL</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="#get">GET</a></td>
            <td>procurement_documents</td>
            <td>Returns all Procurement Documents.</td>
          </tr>
          <tr>
            <td><a href="#post">POST</a></td>
            <td>procurement_documents</td>
            <td>Creates a new Procurement Document.</td>
          </tr>
          <tr>
            <td><a href="#get">GET</a></td>
            <td>procurement_documents/:token</td>
            <td>Returns a single Procurement Document.</td>
          </tr>
          <tr>
            <td><a href="#delete">PUT</a></td>
            <td>procurement_documents/:token</td>
            <td>Updates a Procurement Document.</td>
          </tr>
          <tr>
            <td><a href="#delete">GET</a></td>
            <td>procurement_documents/:token/launch_gui</td>
            <td>Launch the Clause Logic GUI for this procurement document.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
