<div class="row-fluid">
  <h2>Regulations</h2>
  
  <ul class="nav nav-tabs" id="exampleTabs">
    <li class="active"><a href="#library">Library</a></li>
    <li><a href="#procurement_document">Procurement Document</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="library">
      <h3>Routes</h3>
      <table class="table">
        <thead>
          <th>Request</th>
          <th>URL</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="#get">GET</a></td>
            <td>regulations</td>
            <td>Returns all regulations.</td>
          </tr>
          <tr>
            <td><a href="#post">GET</a></td>
            <td>regulations/:id</td>
            <td>Returns a single regulation.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="procurement_document">
      <h3>Routes</h3>
      <table class="table">
        <thead>
          <th>Request</th>
          <th>URL</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="#get">GET</a></td>
            <td>procurement_documents/:token/regulations</td>
            <td>Returns all regulations for a Procurement Document.</td>
          </tr>
          <tr>
            <td><a href="#post">PUT</a></td>
            <td>procurement_documents/:token/regulations</td>
            <td>Updates all regulations for a Procurement Document.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

