<div class="row-fluid">
  <h2>Timestamp</h2>

  <h3>Routes</h3>
  <table class="table">
    <thead>
      <th>Request</th>
      <th>URL</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td><a href="#get">GET</a></td>
        <td>timestamp</td>
        <td>Returns Clause Logic Service server unix timestamp.</td>
      </tr>
    </tbody>
  </table>
  
</div>