<div class="row-fluid">
  <h2>Authentication</h2>
  <ul>
    <li><%= link_to "Request Types", authentication_request_types_path %></li>
    <li><%= link_to "Creating a Signature", authentication_creating_a_signature_path %></li>
  </ul>
</div>