<div class="row-fluid">
  <h2>Request Types</h3>  

  <h3>Non-Authenticated Requests (API Key)</h3>
  <p>A Non-Authenticated request is used to access public information such as library resources. A Non-Authenticated request requires that you send your API Key in the headers of the request.  The specific header to set is X-CL-API_KEY.</p>
  
  <div class="well">
    X-CL-API_KEY 57ccd80be80eb79f232ea178a536d675
  </div>

  <h3>Signed Requests (API Key + Signature)</h3>
  <p>A Signed request is used to access procurement document resources.  The following headers must be set for a Signed request:
    <ul>
      <li>X-CL-API_KEY - Your Application's API Key</li>
      <li>X-CL-NONCE - A single use unique string used to mitigate Replay attacks.</li>
      <li>X-CL-TIMESTAMP - The current unix timestamp. Also used to mitigate Replay attacks.</li>
      <li>X-CL-SIGNATURE - A calculated signature based on your API Key/Secret and the request parameters.</li>
    </ul>  
  </p>

  <div class="well">
    X-CL-API_KEY 57ccd80be80eb79f232ea178a536d675<br />
    X-CL-NONCE bfd622c79280cd8b8363a00d3aaf8c2a<br />
    X-CL-TIMESTAMP 1312248743<br />
    X-CL-SIGNATURE d868f8cd504590c36ff74d77571fe01c4f81b47016f9fc27c9f64969ec80ed60
  </div>

  <h3>Protected Requests (API Key + Clause Logic Access Token + Signature)</h3>
  <p>A Protected Request is used to modify an existing procurement document.  In addition to the headers required for a Signed request, the protected request also requires the Clause Logic Access Token (CLAT) to be sent in the X-CL-CLAT header.</p>
  <div class="well">
    X-CL-CLAT c357d4cc988ff5d4b446e4e7e8fdaa2d
  </div>
</div>