<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v1_root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resources', v1_resources_path %> <span class="divider">/</span></li>
    <li class="active">Prescription Revisions</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>GET prescriptions/:id/revisions</h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span8">
    <h3>Resource URL</h3>
    <p>/api/v1/prescriptions/:id/revisions.format</p>
    <br />
    <h3>Parameters</h3>
    <table class="table">
      <tr>
        <td><strong>id</strong></td>
        <td><span class="label label-important">required</span></td>
        <td>The unique id of the desired prescription.</td>
      </tr>
    </table>
    <h3>Example Request</h3>
    <table class="table">
      <tr>
        <td>GET</td>
        <td>/api/v1/prescriptions/6/revisions.xml</td>
      </tr>
    </table>
    <br />
    <pre class="prettyprint">
&lt;Response&gt;
  &lt;Revisions&gt;
    &lt;Revision id=&quot;1&quot;&gt;
      &lt;Body&gt;
        &lt;![CDATA[Prescription Text]]&gt;
      &lt;/Body&gt;
      &lt;EffectiveStartDate&gt;01/01/2012&lt;/EffectiveStartDate&gt;
      &lt;EffectiveEndDate/&gt;
    &lt;/Revision&gt;
  &lt;/Revisions&gt;
&lt;/Response&gt;</pre>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Resource Information</h3>
      <table class="table">
        <tr>
          <td>Request Type</td>
          <td><%= link_to 'Non Authenticated', v1_authentication_request_types_path %></td>
        </tr>
        <tr>
          <td>Response Formats</td>
          <td>xml</td>
        </tr>
        <tr>
          <td>HTTP Method</td>
          <td>GET</td>
        </tr>
        <tr>
          <td>Response Object</td>
          <td><%= link_to 'Prescription Revisions', v1_resource_objects_library_prescription_revision_path %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
