<div class="row-fluid">
  <h2>CLAT</h2>
  <p>A CLAT is...</p>
    
    <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>id</td>
        <td>Attribute</td>
        <td>Integer</td>
        <td>
          Unique ID<br />
          <br />
          <pre class="prettyprint">&lt;Clat id=&quot;1&quot;&gt;...&lt;/Clat&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Token</td>
        <td>Element</td>
        <td>String</td>
        <td>
          CLAT Token<br />
          <br />
          <pre class="prettyprint">&lt;Token&gt;7fd5e89f7c85d7ab82b79047bc56c3dd&lt;/Token&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Secret</td>
        <td>Element</td>
        <td>String</td>
        <td>
          CLAT Secret<br />
          <br />
          <pre class="prettyprint">&lt;Secret&gt;27308d432f55864e8050fb0b37d186d6&lt;/Secret&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Application</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Name of application to which the CLAT belongs<br />
          <br />
          <pre class="prettyprint">&lt;Application&gt;mockCWS&lt;/Application&gt;</pre> 
        </td>
      </tr>
      <tr>
        <td>ProcurementDocumentToken</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Token of ProcurementDocument to which the CLAT belongs<br />
          <br />
          <pre class="prettyprint">&lt;ProcurementDocumentToken&gt;c9de297b5ba56cbe22537138e9302a5d&lt;/ProcurementDocumentToken&gt;</pre> 
        </td>
      </tr>
      <tr>
        <td>ProcurementDocumentNumber</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Number of ProcurementDocument to which the CLAT belongs<br />
          <br />
          <pre class="prettyprint">&lt;ProcurementDocumentNumber&gt;FY2012-ABC123-0001&lt;/ProcurementDocumentNumber&gt;</pre> 
        </td>
      </tr>
      <tr>
        <td>ExpiresAt</td>
        <td>Element</td>
        <td>DateTime</td>
        <td>
          When the CLAT will expire.<br />
          <br />
          <pre class="prettyprint">&lt;ExpiresAt&gt;07/01/2012 08:00:03&lt;/ExpiresAt&gt;</pre> 
        </td>
      </tr>
    </table>
</div>

<div class="row-fluid">
  <h3>Examples</h3>
  
  <ul class="nav nav-tabs" id="exampleTabs">
    <li class="active"><a href="#one">Example</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="one">

      <pre class="prettyprint linenums">
&lt;Clat id=&quot;1&quot;&gt;
  &lt;Token&gt;7fd5e89f7c85d7ab82b79047bc56c3dd&lt;/Token&gt;
  &lt;Secret&gt;27308d432f55864e8050fb0b37d186d6&lt;/Secret&gt;
  &lt;ExpiresAt&gt;07/01/2012 08:00:03&lt;/ExpiresAt&gt;
&lt;/Clat&gt;
</pre>

    </div>
  </div>
</div>

