<div class="row-fluid">
  <h2>ClauseVariation</h2>
  <p>A clause variation is...</p>
    <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>AlternateOrDeviation</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Indicates Alternate or Deviation<br />
          <br />
          <pre class="prettyprint">&lt;AlternateOrDeviation&gt;Alternate&lt;/AlternateOrDeviation&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>VariationName</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Name of Variation<br />
          <br />
          <pre class="prettyprint">&lt;VariationName&gt;I&lt;/VariationName&gt;</pre>  
        </td>
      </tr>
    </table>
</div>

<div class="row-fluid">
    <h3>Examples</h3>
  <ul class="nav nav-tabs" id="exampleTabs">
    <li class="active"><a href="#one">Example</a></li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane active" id="one">
      <pre class="prettyprint linenums">
&lt;ClauseVariation&gt;
  &lt;AlternateOrDeviation&gt;Alternate&lt;/AlternateOrDeviation&gt;
  &lt;VariationName&gt;1&lt;/VariationName&gt;
&lt;/ClauseVariation&gt;
</pre>
    </div>
  </div>
</div>