<div class="row-fluid">
  <h2>Clause</h2>

  <p>A clause is...</p>
  <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>id</td>
        <td>Attribute</td>
        <td>Integer</td>
        <td>
          Unique ID<br />
          <br />
          <pre class="prettyprint">&lt;Clause id=&quot;1&quot;&gt;...&lt;/Clause&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>
          fullText<br />
          <span class="label label-warning">PD Only</span>
        </td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates if the clause is to be displayed in full text.<br />
          <br />
          <pre class="prettyprint">&lt;ProcurementDocumentClause fullText=&quot;false&quot;&gt;...&lt;/ProcurementDocumentClause&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>
          prescribed<br />
          <span class="label label-warning">PD Only</span>
        </td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates if the clause was prescribed.<br />
          <br />
          <pre class="prettyprint">&lt;ProcurementDocumentClause prescribed=&quot;true&quot;&gt;...&lt;/ProcurementDocumentClause&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>
          required<br />
          <span class="label label-warning">PD Only</span>
        </td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates if the clause is required.<br />
          <br />
          <pre class="prettyprint">&lt;ProcurementDocumentClause required=&quot;false&quot;&gt;...&lt;/ProcurementDocumentClause&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>referenceAllowed</td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates whether or not Incorporation by Reference is allowed.<br />
          <br />
          <pre class="prettyprint">&lt;Clause referenceAllowed=&quot;true&quot;&gt;...&lt;/Clause&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>provision</td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates whether or not this is a provision or a clause.<br />
          <br />
          <pre class="prettyprint">&lt;Clause provision=&quot;false&quot;&gt;...&lt;/Clause&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Number</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Clause Number<br />
          <br />
          <pre class="prettyprint">&lt;Number&gt;3.503-2&lt;/Number&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Regulation</td>
        <td>Element</td>
        <td><a href="/docs/resource_objects/library/regulation">Regulation</a></td>
        <td>
          The regulation to which the prescription belongs<br />
          <br />
          <pre class="prettyprint">&lt;Regulation id=&quot;1&quot;&gt;...&lt;/Regulation&gt;</pre> 
        </td>
      </tr>
      <tr>
        <td>Section</td>
        <td>Element</td>
        <td><a href="/docs/resource_objects/library/section">Section</a></td>
        <td>
          The UCF section to which the clause/provision belongs<br />
          <br />
          <pre class="prettyprint">&lt;Section id=&quot;1&quot;&gt;...&lt;/Section&gt;</pre> 
        </td>
      </tr>
      <tr>
        <td>ClauseVariation</td>
        <td>Element</td>
        <td><a href="/docs/resource_objects/library/clause_variation">ClauseVariation</a></td>
        <td>
          Describes the type of variation (Alternate or Deviation)<br />
          <br />
          <pre class="prettyprint">&lt;ClauseVariation&gt;...&lt;/ClauseVariation&gt;</pre> 
        </td>
      </tr>
      <tr>
        <td>Revision</td>
        <td>Element</td>
        <td><a href="/docs/resource_objects/library/clause_revision">Clause Revision</a></td>
        <td>
          The effective revision for this clause/provision<br />
          <br />
          <pre class="prettyprint">&lt;Revision id=&quot;6&quot;&gt;...&lt;/Revision&gt;</pre> 
        </td>
      </tr>
    </table>
</div>

<div class="row-fluid">
    <h3>Examples</h3>
  <ul class="nav nav-tabs" id="exampleTabs">
    <li class="active"><a href="#one">Library Example</a></li>
    <li><a href="#two">Procurement Document Example</a></li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane active" id="one">
<pre class="prettyprint linenums">
&lt;Clause id=&quot;1&quot; referenceAllowed=&quot;true&quot; provision=&quot;false&quot;&gt;
  &lt;Number&gt;52.202-1&lt;/Number&gt;
  &lt;Regulation id=&quot;1&quot;&gt;FAR&lt;/Regulation&gt;
  &lt;Section id=&quot;1&quot;&gt;I&lt;/Section&gt;
  &lt;ClauseVariation&gt;
    &lt;AlternateOrDeviation&gt;Alternate&lt;/AlternateOrDeviation&gt;
    &lt;VariationName&gt;1&lt;/VariationName&gt;
  &lt;/ClauseVariation&gt;
  &lt;Revision id=&quot;1&quot; hasFillins=&quot;true&quot; isEditable=&quot;false&quot;&gt;
    &lt;Title&gt;Clause Title&lt;/Title&gt;
    &lt;Body&gt;
      &lt;![CDATA[Clause Text]]&gt;
    &lt;/Body&gt;
    &lt;EffectiveStartDate&gt;01/01/2012&lt;/EffectiveStartDate&gt;
    &lt;EffectiveEndDate/&gt;
  &lt;/Revision&gt;
&lt;/Clause&gt;
</pre>
    </div>

    <div class="tab-pane" id="two">
      <pre class="prettyprint linenums">
&lt;Clause id=&quot;1&quot; prescribed=&quot;true&quot; required=&quot;false&quot; referenceAllowed=&quot;true&quot; provision=&quot;false&quot;&gt;
  &lt;Number&gt;52.202-1&lt;/Number&gt;
  &lt;Regulation id=&quot;1&quot;&gt;FAR&lt;/Regulation&gt;
  &lt;Section id=&quot;1&quot;&gt;I&lt;/Section&gt;
  &lt;ClauseVariation&gt;
    &lt;AlternateOrDeviation&gt;Alternate&lt;/AlternateOrDeviation&gt;
    &lt;VariationName&gt;1&lt;/VariationName&gt;
  &lt;/ClauseVariation&gt;
  &lt;Revision id=&quot;1&quot; hasFillins=&quot;true&quot; isEditable=&quot;false&quot;&gt;
    &lt;Title&gt;Clause Title&lt;/Title&gt;
    &lt;Body&gt;
      &lt;![CDATA[Clause Text]]&gt;
    &lt;/Body&gt;
    &lt;EffectiveStartDate&gt;01/01/2012&lt;/EffectiveStartDate&gt;
    &lt;EffectiveEndDate/&gt;
  &lt;/Revision&gt;
&lt;/Clause&gt;
</pre>
    </div>

  </div>
</div>
