<div class="row-fluid">
  <h2>Indicator</h2>
  <p>An indicator is...</p>

    <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>id</td>
        <td>Attribute</td>
        <td>Integer</td>
        <td>
          Unique ID<br />
          <br />
          <pre class="prettyprint">&lt;Indicator id=&quot;1&quot;&gt;...&lt;/Indicator&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Name</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Indicator Name<br />
          <br />
          <pre class="prettyprint">&lt;Name&gt;Organization&lt;/Name&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Data Type</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Indicator Data Type (String, Integer, Boolean, etc.)<br />
          <br />
          <pre class="prettyprint">&lt;DataType&gt;String&lt;/DataType&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Constraint</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Indicates how many values can be selected:<br />
          - PICK_MANY: Multiple values may be selected<br />
          - PICK_ONE: Only one value may be selected<br />
          - NONE: No pre-defined values exist.  Value will be entered manually.<br />
          <br />
          <pre class="prettyprint">&lt;Constraint&gt;PICK_ONE&lt;/Constraint&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Values</td>
        <td>Element</td>
        <td><a href="/docs/resource_objects/procurement_document/indicator_value">Indicator Value</a></td>
        <td>
          An array of values set for this indicator.  This element will NOT be present if Constraint is NONE.<br />
          <br />
          <pre class="prettyprint">&lt;Values&gt;...&lt;/Values&gt;</pre> 
        </td>
      </tr>
      <tr>
        <td>Value</td>
        <td>Element</td>
        <td><a href="/docs/resource_objects/procurement_document/indicator_value">Indicator Value</a></td>
        <td>
          The value set for this indicator.  This element will ONLY be present if Constraint is NONE.  Otherwise, the Values element will be present.<br />
          <br />
          <pre class="prettyprint">&lt;Value&gt;...&lt;/Value&gt;</pre> 
        </td>
      </tr>
    </table>

</div>

<div class="row-fluid">
    <h3>Examples</h3>
  <ul class="nav nav-tabs" id="exampleTabs">
    <li class="active"><a href="#one">Library Example</a></li>
    <li><a href="#two">Procurement Document Example</a></li>
    <li><a href="#three">Procurement Document Example (Constraint: NONE)</a></li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane active" id="one">
      <pre class="prettyprint linenums">
&lt;Indicator id=&quot;1&quot;&gt;
  &lt;Name&gt;Organization&lt;/Name&gt;
  &lt;DataType&gt;String&lt;/DataType&gt;
  &lt;Constraint&gt;PICK_ONE&lt;/Constraint&gt;
  &lt;Values&gt;
    &lt;Value id=&quot;1&quot;&gt;Department of Defense&lt;/Value&gt;
    &lt;Value id=&quot;2&quot;&gt;NASA&lt;/Value&gt;
    &lt;Value id=&quot;3&quot;&gt;Coast Guard&lt;/Value&gt;
  &lt;/Values&gt;
&lt;/Indicator&gt;
</pre>
    </div>

    <div class="tab-pane" id="two">
      <pre class="prettyprint linenums">
&lt;Indicator id=&quot;1&quot;&gt;
  &lt;Name&gt;Organization&lt;/Name&gt;
  &lt;DataType&gt;String&lt;/DataType&gt;
  &lt;Constraint&gt;PICK_ONE&lt;/Constraint&gt;
  &lt;Values&gt;
    &lt;Value id=&quot;1&quot; locked=&quot;true&quot; selected=&quot;true&quot;&gt;Department of Defense&lt;/Value&gt;
  &lt;/Values&gt;
&lt;/Indicator&gt;
</pre>
    </div>

    <div class="tab-pane" id="three">
      <pre class="prettyprint linenums">
&lt;Indicator id=&quot;1&quot;&gt;
  &lt;Name&gt;Contract Value&lt;/Name&gt;
  &lt;DataType&gt;Number&lt;/DataType&gt;
  &lt;Constraint&gt;NONE&lt;/Constraint&gt;
  &lt;Value locked=&quot;false&quot;&gt;150000.00&lt;/Value&gt;
&lt;/Indicator&gt;
</pre>
    </div>

  </div>
</div>