<div class="row-fluid">
  <h2>Prescription Revision</h2>

    <p>A prescription revision is...</p>
    <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>id</td>
        <td>Attribute</td>
        <td>Integer</td>
        <td>
          Unique ID<br />
          <br />
          <pre class="prettyprint">&lt;Revision id=&quot;1&quot;&gt;...&lt;/Revision&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Body</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Prescription Text<br />
          <br />
          <pre class="prettyprint">&lt;Body&gt;&lt;![CDATA[...]]&gt;&lt;/Body&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>EffectiveStartDate</td>
        <td>Element</td>
        <td>Date</td>
        <td>
          The date this prescription becomes effective<br />
          <br />
          <pre class="prettyprint">&lt;EffectiveStartDate&gt;11/01/2003&lt;/EffectiveStartDate&gt;</pre> 
        </td>
      </tr>
      <tr>
        <td>EffectiveEndDate</td>
        <td>Element</td>
        <td>Date</td>
        <td>
          The date this prescription is no longer effective<br />
          <br />
          <pre class="prettyprint">&lt;EffectiveEndDate&gt;11/01/2003&lt;/EffectiveEndDate&gt;</pre> 
        </td>
      </tr>
    </table>

</div>

<div class="row-fluid">
    <h3>Examples</h3>
  <ul class="nav nav-tabs" id="exampleTabs">
    <li class="active"><a href="#one">Example</a></li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane active" id="one">
      <pre class="prettyprint linenums">
&lt;Revision id=&quot;1&quot;&gt;
  &lt;Body&gt;
    &lt;![CDATA[Prescription Text]]&gt;
  &lt;/Body&gt;
  &lt;EffectiveStartDate&gt;01/01/2012&lt;/EffectiveStartDate&gt;
  &lt;EffectiveEndDate/&gt;
&lt;/Revision&gt;
</pre>
    </div>
  </div>
</div>