<div class="row-fluid">
  <h2>Regulation</h2>
<p>A regulation is...</p>

    <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>id</td>
        <td>Attribute</td>
        <td>Integer</td>
        <td>
          Unique ID<br />
          <br />
          <pre class="prettyprint">&lt;Regulation id=&quot;1&quot;&gt;...&lt;/Regulation&gt;</pre>  
        </td>
      </tr>
       <tr>
        <td>
          locked
          <br />
          <span class="label label-warning">PD Only</span>
        </td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates if the regulation was set from a contract writing system (CWS).  If true, the regulation cannot be modified in the GUI.<br />
          <br />
          <pre class="prettyprint">&lt;Regulation locked=&quot;true&quot;&gt;...&lt;/Regulation&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>
          selected
          <br />
          <span class="label label-warning">PD Only</span>
        </td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates if the regulation is selected or not.<br />
          <br />
          <pre class="prettyprint">&lt;Regulation selected=&quot;true&quot;&gt;...&lt;/Regulation&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Name</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Name of Regulation<br />
          <br />
          <pre class="prettyprint">&lt;Name&gt;FAR&lt;/Name&gt;</pre>  
        </td>
      </tr>
      <tr>
        <td>Title</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Title of Regulation<br />
          <br />
          <pre class="prettyprint">&lt;Title&gt;Federal Acquisition Regulation&lt;/Title&gt;</pre> 
        </td>
      </tr>
      <tr>
        <td>Url</td>
        <td>Element</td>
        <td>String</td>
        <td>
          URL where the Regulation is located<br />
          <br />
          <pre class="prettyprint">&lt;Url&gt;https://www.acquisition.gov/far&lt;/Url&gt;</pre> 
        </td>
      </tr>
    </table>

</div>

<div class="row-fluid">
    <h3>Examples</h3>
  <ul class="nav nav-tabs" id="exampleTabs">
    <li class="active"><a href="#one">Library Example</a></li>
    <li><a href="#two">Procurement Document Example</a></li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane active" id="one">
      <pre class="prettyprint linenums">&lt;Regulation id=&quot;1&quot;&gt;
  &lt;Name&gt;FAR&lt;/Name&gt;
  &lt;Title&gt;Federal Acquisition Regulation&lt;/Title&gt;
  &lt;Url&gt;https://www.acquisition.gov/far&lt;/Url&gt;
&lt;/Regulation&gt;
</pre>
    </div>

    <div class="tab-pane" id="two">
      <pre class="prettyprint linenums">&lt;Regulation id=&quot;1&quot; selected=&quot;false&quot; locked=&quot;true&quot;&gt;FAR&lt;/Regulation&gt;</pre>
    </div>
  </div>
</div>