<div class="row-fluid">
  <h2>Timestamp</h2>
  <p> A timestamp is...</p>
  <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Timestamp</td>
        <td>Element</td>
        <td>Integer</td>
        <td>Timestamp is a unix timestamp</td>
      </tr>
<table>
</div>

<div class="row-fluid">
    <h3>Examples</h3>
  <ul class="nav nav-tabs" id="exampleTabs">
    <li class="active"><a href="#one">Example</a></li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane active" id="one">
      <pre class="prettyprint linenums">&lt;Timestamp&gt;1370622590&lt;/Timestamp&gt;</pre>
    </div>
  </div>
</div>

