<div class="row-fluid">
  <h2>REST API Overview</h2>

  <h3>About the API</h3>
  <p>Below is a list of information about the Clause Logic REST API.</p>
  <ol>
    <li>All requests to the API must use the HTTPS protocol.</li>
    <li>Only registered applications will be allowed to access the API.</li>
    <li>There are 3 types of authenticated requests. See the Authentication documentation for more information.</li>
    <li>All requests/responses use the XML format.</li>
    <li>The following HTTP Methods are used in requests: GET, POST, PUT, DELETE.</li>
  </ol>
</div>