<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v2_root_path %> <span class="divider">/</span></li>
    <li class="active">Getting Started: Create a Procurement Document</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>Creating a Procurement Document</h1>
    </div>
  </div>
<% end %>

<h3>Required Information</h3>
<p>The Number is the only attribute that is needed in order to create a Procurement Document:</p>

<table class="table">
  <tr>
    <td>Number</td>
    <td>
      <p>The Procurement Document Number (i.e. Contract Number)</p>
      <p>The procurement document is created using the following resource: <%= link_to 'POST procurement_documents', v2_resources_procurement_document_procurement_document_create_path %></p>
    </td>
  </tr>
</table>
<br />
<h3>Additional Information</h3>
<p>
  Once created, you will need to provide additional information about the procurement document in order for the Clause Logic Service to determine the appropriate clauses/provisions for the procurement document.
</p>
<table class="table">
  <tr>
    <td>Regulations</td>
    <td>
      <p>Specify which regulations (FAR, DFARS, etc.) apply to the procurement document.</p>
      <p>Regulations can be specified using the following resource: <%= link_to 'PUT procurement_documents/:token/regulations', v2_resources_procurement_document_regulations_update_path %></p>
    </td>
  </tr>
  <tr>
    <td>Indicators</td>
    <td>
      <p>Specify details about the procurement document: Total Value, Type of Contract, Procedures Used, etc.</p>
      <p>Indicators can be specified using the following resource: <%= link_to 'PUT procurement_documents/:token/indicators', v2_resources_procurement_document_indicators_update_path %></p>
    </td>
  </tr>
</table>
