<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v2_root_path %> <span class="divider">/</span></li>
    <li class="active">Guides: Specify Indicators</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>Specifying Indicators</h1>
    </div>
  </div>
<% end %>

<p>Indicators provide information about the procurement document: Total Value, Type of Contract, Procedures Used, etc. There are 3 types of Indicators: PICK_MANY, PICK_ONE, and NONE.</p>
<br />
<h3>Types of Indicators</h3>
<h4>PICK_MANY</h4>
<p>A Pick Many Indicator has a list of pre-defined values to choose from.  As the name suggests, you may pick more than one of the available values.</p>

<h4>PICK_ONE</h4>
<p>A Pick One Indicator also has a list of pre-defined values to choose from, but only one value may be selected.</p>

<h4>NONE</h4>
<p>A NONE Indicator does not have pre-defined values and only one value may be provided.</p>

<br />
<h3>How to Specify Indicators</h3>
<p>There are two ways to specify indicators: API or Clause Logic GUI.  From the API, Indicators can be specified using the following resource: <%= link_to 'PUT procurement_documents/:token/indicators', v2_resources_procurement_document_indicators_update_path %>.  Indicator values specified through the API cannot be modified from the Clause Logic GUI. </p>
<br />
<h3>Clause Logic Access Token (CLAT) Required</h3>
<p>Any modification to a procurement document requires a <%= link_to 'Clause Logic Access Token (CLAT)', v2_resource_objects_procurement_document_clat_path %>.  Use the following resource to obtain a CLAT: <%= link_to 'POST procurement_documents/:token/clats', v2_resources_procurement_document_clat_create_path %>.</p>
