<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v2_root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resources', v2_resources_path %> <span class="divider">/</span></li>
    <li class="active">Regulation</li>
  </ul>
<% end %>

<% content_for :sidebar do %>  
  <%= render partial: 'v2/resource_objects/sidebar' %>
<% end %>

<h1>GET regulations/:id</h1>
<h3>Resource URL</h3>
<p>/api/v2/regulations/:id.format</p>
<br />
<h3>Parameters</h3>
<table class="table table-bordered">
  <tr>
    <th>Field</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><strong>id</strong></td>
    <td><span class="label label-important">required</span></td>
    <td>The unique id of the desired regulation.</td>
  </tr>
</table>
<h3>Response fields</h3>
<table class="table table-bordered">
  <tr>
    <th>Field</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><strong>regulation</strong></td>
    <td>A complete regulation.</td>
  </tr>
</table>
<h3>Example Request</h3>
<table class="table">
  <tr>
    <td>GET</td>
    <td>/api/v2/regulations/1.json</td>
  </tr>
</table>
<h3>Example Response</h3>
<pre class="prettyprint">
{
  "regulation": {
    "id": 1,
    "name": "Federal Acquisition Regulation",
    "title": "FAR",
    "url": "https://url.goes.here"
  }
}</pre>
