<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v2_root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resources', v2_resources_path %> <span class="divider">/</span></li>
    <li class="active">Clause</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>GET clauses/:id</h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span8">
    <h3>Resource URL</h3>
    <p>/api/v1/clauses/:id.format</p>
    <br />
    <h3>Parameters</h3>
    <table class="table">
      <tr>
        <td><strong>id</strong></td>
        <td><span class="label label-important">required</span></td>
        <td>The unique id of the desired clause.</td>
      </tr>
    </table>
    <h3>Example Request</h3>
    <table class="table">
      <tr>
        <td>GET</td>
        <td>/api/v1/clauses/1.xml</td>
      </tr>
    </table>
    <br />
    <pre class="prettyprint">
&lt;Response&gt;
  &lt;Clause id=&quot;1&quot; referenceAllowed=&quot;true&quot; provision=&quot;false&quot;&gt;
    &lt;Number&gt;52.202-1&lt;/Number&gt;
    &lt;Regulation id=&quot;1&quot;&gt;FAR&lt;/Regulation&gt;
    &lt;Section id=&quot;1&quot;&gt;I&lt;/Section&gt;
    &lt;ClauseVariation&gt;
      &lt;AlternateOrDeviation&gt;Alternate&lt;/AlternateOrDeviation&gt;
      &lt;VariationName&gt;1&lt;/VariationName&gt;
    &lt;/ClauseVariation&gt;
    &lt;Revision id=&quot;1&quot; hasFillins=&quot;true&quot; isEditable=&quot;false&quot;&gt;
      &lt;Title&gt;Clause Title&lt;/Title&gt;
      &lt;Body&gt;
        &lt;![CDATA[Clause Text]]&gt;
      &lt;/Body&gt;
      &lt;EffectiveStartDate&gt;01/01/2012&lt;/EffectiveStartDate&gt;
      &lt;EffectiveEndDate/&gt;
    &lt;/Revision&gt;
  &lt;/Clause&gt;
&lt;/Response&gt;</pre>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Resource Information</h3>
      <table class="table">
        <tr>
          <td>Request Type</td>
          <td><%= link_to 'Non Authenticated', v2_authentication_request_types_path %></td>
        </tr>
        <tr>
          <td>Response Formats</td>
          <td>xml</td>
        </tr>
        <tr>
          <td>HTTP Method</td>
          <td>GET</td>
        </tr>
        <tr>
          <td>Response Object</td>
          <td><%= link_to 'Clause', v2_resource_objects_library_clause_path %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
