body {
  padding-bottom: 40px;
  padding-top: 15px;
}
.sidebar-nav-fixed {
  padding: 9px 0;
  position:fixed;
  left:20px;
  top:60px;
  width:250px;
}
.row-fluid > .span-fixed-sidebar {
  margin-left: 290px;
}
.nav-list > li > ul {
    padding-left:0;
    padding-right:0;
}
.nav-list ul > li > a {
    padding-left:30px;
}