<div class="row-fluid">
  <h2>Getting Started</h2>
  <ul>
    <li><%= link_to "Create a Procurement Document", getting_started_create_procurement_document_path %></li>
    <li><%= link_to "Specify Indicators", getting_started_specify_indicators_path %></li>
    <li><%= link_to "Specify Regulations", getting_started_specify_regulations_path %></li>
    <li><%= link_to "Launch the CL GUI", getting_started_launch_cl_gui_path %></li>
  </ul>
</div>
