<div class="row-fluid">
  <h2>Specifying Regulations</h2>
  
  <p>The Clause Logic Service supports a wide variety of regulations (FAR, DFARS, etc.). In order to determine appropriate clauses/provisions for the procurement document, it is important to specify which regulations apply.</p>

  <h3>How to Specify Regulations</h3>
  <p>There are 2 ways to specify regulations: API or Clause Logic GUI. From the API, Regulations can be specified using the following resource: PUT procurement_documents/:token/regulations. Regulations specified through the API cannot be modified from the Clause Logic GUI. If no regulations are specified, Clause Logic will default to using FAR.</p>

  <h3>Clause Logic Access Token (CLAT) Required</h3>
  <p>Any modification to a procurement document requires a Clause Logic Access Token (CLAT). Use the following resource to obtain a CLAT: POST procurement_documents/:token/clats.</p>
</div>