<% content_for :page_header do %>
  <div class="row">
    <div class="span12">
      <h1>Documentation</h1>
    </div>
  </div>
<% end %>

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Version 2 is under development and is subject to change.
</div>

<div class="row">
  <div class="span12">
    <p><span class="label label-info">What's New</span> Find out <%= link_to "what's new in Version 2", v2_whats_new_path %>.</p>
    <p>Getting started with Clause Logic is easy. Jump right into the API Documentation or check out our Getting Started guides.</p>
  </div>
</div>

<div class="row">
  
  <div class="span6">
    <h3>Getting Started</h3>
    <ul>
      <li>API Overview</li>
      <li>API Environments</li>
      <li>Create a Procurement Document</li>
      <li>Specify Indicators</li>
      <li>Specify Regulations</li>
      <li>Launch the CL GUI</li>
    </ul>
  </div>
  
  <div class="span6">
    <h3>REST API</h3>
    <ul>
      <li><%= link_to 'Resource Objects', v2_resource_objects_path %></li>
      <li>Resources (API Endpoints)</li>
      <li>Error Codes and Responses</li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="span6">
    <h3>Tutorials</h3>
    <ul>
      <li>How to Create a Procurement Document?</li>
      <li>How do I specify which regulations apply?</li>
    </ul>
  </div>

  <div class="span6">
    <h3>Authentication</h3>
    <ul>
      <li><%= link_to 'Overview', v2_authentication_path %></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="span6">
    <h3>Clients</h3>
    <ul>
      <li><a href="https://github.com/hgslabs/cls-client-library-php" target="_blank">PHP</a></li>
    </ul>
  </div>

</div>
