<% content_for :page_header do %>
  <div class="row">
    <div class="span12">
      <h1>What's New in Version 2.0</h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12">
    <p>Here is what's new in version 2.0</p>
    <ul>
      <li>hasFillins on Clause Revisions has been removed.</li>
      <li>New Fill-ins element has been added</li>
  </div>
</div>