<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', root_path %> <span class="divider">/</span></li>
    <li class="active">Getting Started: API Environments</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>API Environments</h1>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <th>Name</th>
    <th>URL</th>
    <th>Description</th>
  </thead>

  <tbody>
    <tr>
      <td>Integration</td>
      <td>http://integration.clause-logic.com/</td>
      <td>Integration Environment</td>
    </tr>
    <tr>
      <td>Production</td>
      <td>https://clauselogic.altess.army.mil/</td>
      <td>Production Environment</td>
    </tr>
  </tbody>
</table>