<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v2_root_path %> <span class="divider">/</span></li>
    <li class="active">Resource Objects</li>
  </ul>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'v2/resource_objects/sidebar' %>
<% end %>